nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div:nth-child(1) {
  margin-bottom: 32px;
}

.banner {
  flex-direction: column;
}

.banner-left{
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 { /* Main Title */
  margin-top: 1rem;
}

br {
  display: none;
}

h2 {
  text-align: center;
}

.search-bar {
  align-items: center;
  justify-content: center;
}

.logo {
  margin-top: 16px;
}

.about-container {
  padding-bottom: 3rem;
}

p {
  text-align: center;
  margin-bottom: 12px;
  width: 100%;
}

.card-area {
  width: auto;
}

/* Selection Page */

.selection {
  flex-direction: column;
}

.tag p {
  margin: 0;
}

.sort p {
  margin-bottom: 0;
}